@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: "Rockel";
    src: url(./assets/FONTES/ROCKEL/Rockel.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

body {
    margin: 0;
    background-color: black;
    color: white;
    width: 100vw;
}

#home {
    display:flex;
    height: 100vh;
    width: 100vw;
    background-image: none;
}

.homeSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home img {
    width: 50px;
    height: 50px;
    margin-top: 10vh;
}

#home h2 , .titlesAboutMe {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0px;
    font-stretch:ultra-expanded;
    color: white;
}

.titlesAboutMe {
    transition: 1s;
    font-size: 25px;
    text-decoration: none;
}
.titlesAboutMe:hover {
    transform: scale(1.10);
    transition: 1s;
}

#home p {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: larger;
    margin-bottom: 20vh;
}

#pictureIcon {
    padding-top: 17vh;
}

.pictureInfos {
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    padding-left: 2vw;
    background-image: url(./assets/FUNDOS/SPACE\ GALLERY\ FUNDO.png);
    background-size: 50vw 100%;
}

#pictureCard a {
    height: 100vh;
}

#meetTheDeveloper {
    height: 100%;
    width: 33.33vw;
    background-image: url(./assets/IMAGENS\ HOME/AZULADA/SPACEX.png);
    background-size: 40vw 100%;
    transform: scale(1);
    transition: 2s;
}

#meetTheDeveloper:hover {
    background-image: url(./assets/IMAGENS\ HOME/ORIGINAL/SPACEX\ COR.jpg);
    background-size: 40vw 100%;
    transform: scale(1.10);
    transition: 1.5s;
}

#pictureOfTheDay {
    height: 100%;
    width: 33.33vw;
    object-fit: cover;
    background-image: url(./assets/IMAGENS\ HOME/AZULADA/MONTANHA.jpg);
    transition: 2s;
    transform: scale(1);
    background-size: 40vw 100%;
}

#pictureOfTheDay:hover {
    background-image: url(./assets/IMAGENS\ HOME/ORIGINAL/MONTANHA\ COR.jpg);
    background-size: 40vw 100%;
    transform: scale(1.10);
    transition:  1.5s;
}

#spaceGallery {
    height: 100%;
    width: 33.33vw;
    background-image: url(./assets/IMAGENS\ HOME/AZULADA/SATELITE.png);
    transition: 2s;
    transform: scale(1);
    background-size: 40vw 100%;
}

#spaceGallery:hover {
    background-image: url(./assets/IMAGENS\ HOME/ORIGINAL/SATELITE\ COR.png);
    background-size: 40vw 100%;
    transform: scale(1.10);
    transition: 1.5s;
}

.homeLinks {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#divContainer {
    height: 100%;
    width: 100%;
}

#button {
    background: none;
    border: none;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 10px;
    right: 50px;
    font-size: larger;
    cursor: pointer;
  }

  #button img {
    height: 35px;
    width: 35px;
  }

#galleryContainer {
    width: 100%;
    height: 100%;
    
}

.explanation , .copyright {
    font-family: "Raleway";
    font-weight: 500;
    font-size: larger;
}

.title {
    font-family: "Barlow";
    font-weight: 500;
    font-size: 30px;
    padding-left: 20px;
}

.explanation {
    width: 40vw;
    height: 45vh;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0%;
    padding-top: 35vh;
}

#apodAA {
    font-family: 'Monoton', cursive;
    font-weight: 500;
    font-size: 50px;
}

.apodImg {
    transition: 1s;
    width: 50vw;
    height: 100vh;
}

.apodImg:hover {
    transform: scale(1.10);
    transition: 1s;
}

.apodIcon {
    width: 50px;
    height: 50px;
}

#apodTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2vh;
    margin-top: 5vh;
}

#pictureCard , .galleryCards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.galleryCards {
    width: 100vw;
    height: 100vh;
    display: flex;

}

.div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50vw;
    height: 100vh;
    padding-left: 2vw;
    background-image: url(./assets/FUNDOS/PICTURE\ OF\ THE\ DAY\ FUNDO.png);
    background-size: 50vw 100%;
}

.galleryImg {
    transition: 1s;
    width: 50vw;
    height: 100vh;
}

.galleryImg:hover {
    transform: scale(1.10);
    transition: 1s;
}

.galleryDiv {
    width: 50%;
    height: 50%;
}

#galleryTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3vh;
}

.galleryPicTitle {
    font-family: "Barlow";
    font-weight: 500;
    font-size: 25px;
    padding-left: 20px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin: 0;
}

.spaceGallery {
    font-family: 'Monoton', cursive;
    font-weight: 500;
    font-size: 50px;
}

#meetMe {
    height: 100vh;
    width: 100vw;
    background-image: url(./assets/FUNDOS/MEET\ THE\ DEVELOPER\ FUNDO.png);
    background-size: 100vw 120vh;
    display: flex;
}

#myInfos {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    padding-top: 50vh;
    padding-left: 12vw;
    justify-content: space-evenly;
}

#myInfos p {
    font-family: "Raleway" , sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: larger;
}

#myInfos button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
}
